@inject HttpClient Client

<!-- Skeleton definition -->
@if (arrayElement == null)
{
    <MudGrid Spacing="4">
        @for (int i = 0; i < 12; i++)
        {
            <MudItem xs="@xs" sm="@sm" md="@md" lg="@lg" xl="@xl">
                <MudPaper Elevation="6" Style="background: linear-gradient(145deg, #2a2a2a, #1a1a1a); border-radius: 12px; overflow: hidden;">
                    <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="240px" />
                    <div class="pa-3">
                        <MudSkeleton SkeletonType="SkeletonType.Text" Height="25px" />
                    </div>
                </MudPaper>
            </MudItem>
        }
    </MudGrid>
}
else if (arrayElement.Length == 0)
{
    <MudPaper Class="pa-8 text-center" Elevation="4" Style="background: linear-gradient(145deg, #2a2a2a, #1a1a1a);">
        <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="2">
            <MudIcon Icon="@Icons.Material.Filled.SearchOff" Size="Size.Large" Color="Color.Default" />
            <MudText Typo="Typo.h5">@(placeholderTitle ?? "No elements found.")</MudText>
        </MudStack>
        <MudText Typo="Typo.body1" Class="mt-2" Color="Color.Default">
            @(placeholderBody ?? "Check back later!")
        </MudText>
    </MudPaper>
}
else
{
    <MudGrid Spacing="4">
        @foreach (var element in arrayElement!)
        {
            ICardStrategy strat = element.strat;
            object dto = element.dto;

            <MudItem xs="@xs" sm="@sm" md="@md" lg="@lg" xl="@xl">
                <DynamicComponent Type="@strat.GetComponentType()" Parameters="@strat.GetParameters(dto)"/>
            </MudItem>
        }
    </MudGrid>
}
@if (Pagination && totalPages > 1)
{
    <div class="d-flex flex-column align-center">
        <MudPagination Color="Color.Dark" Class="mt-4" SelectedChanged="@OnPageChanged" BoundaryCount="5" Count="totalPages" Selected="@_selected" />
    </div>
}
@code{
    private int _selected = 1;


    // --- Parámetros personalizables ---
    [Parameter] public bool Pagination { get; set; } = true;
    [Parameter] public int totalPages { get; set; } = 1;
    [Parameter] public CardContainer[]? arrayElement { get; set; }

    [Parameter] public string? placeholderTitle { get; set; }
    [Parameter] public string? placeholderBody { get; set; }

    [Parameter] public int xs { get; set; } = 12;
    [Parameter] public int sm { get; set; } = 6;
    [Parameter] public int md { get; set; } = 4;
    [Parameter] public int lg { get; set; } = 2;
    [Parameter] public int xl { get; set; } = 2;
    //Callback
    [Parameter] public EventCallback<int> PageChanged { get; set; }

    public async Task OnPageChanged(int page)
    {
        _selected = page;
        
        if (PageChanged.HasDelegate)
        {
            await PageChanged.InvokeAsync(page);
        }
    }
}