@using BadReview.Shared.Utils

<MudPaper Elevation ="6" Class="pa-3" Style="background: linear-gradient(145deg, #2a2a2a, #1a1a1a);">
    <AuthorizeView>
        <Authorized>
            <div class="d-flex">
                <MudButton OnClick="OpenDialog" FullWidth=true Variant="Variant.Filled" Color="Color.Primary">
                    @(UserReview is null || UserReview.IsReview == false ? "Add a review" : "Edit review")
                </MudButton>
                @if (UserReview != null && UserReview.Rating > 0){
                    <MudRating Color=Color.Warning SelectedValue="@(UserReview?.Rating ?? 0)" Disabled="true" Class="mt-1 ml-3" />
                }
            </div>
            
        </Authorized>
        <NotAuthorized>
            <p>Create an account or log in to register your activity!</p>
        </NotAuthorized>
    </AuthorizeView>
</MudPaper>
<!-- Dialog to create/edit review -->
<CustomDialog @ref="popupReview"
                        Title="Create a review"
                        Icon="@Icons.Material.Filled.Star"
                        OnConfirm = "PostReview"
                        BackdropClick="false">
    <MudStack Spacing="3">
        <MudToggleGroup T="ReviewState" @bind-Value="reviewState">
            <MudToggleItem Value="@(ReviewState.NONE)"/>
            <MudToggleItem Value="@(ReviewState.PLAYED)"/>
            <MudToggleItem Value="@(ReviewState.PLAYING)"/>
            <MudToggleItem Value="@(ReviewState.WISHLIST)"/>
        </MudToggleGroup>

        <!--<MudStack Row="true" AlignItems="AlignItems.Center" Spacing="2">
            <MudText Typo="Typo.body1">Status:</MudText>
            <MudButtonGroup Color="Color.Primary" Variant="Variant.Outlined">
                <MudButton>@_buttonText</MudButton>
                <MudMenu Icon="@Icons.Material.Filled.ArrowDropDown" Style="align-self: auto;">
                    <MudMenuItem OnClick="() => SetButtonText(ReviewState.NONE)">None</MudMenuItem>
                    <MudMenuItem OnClick="() => SetButtonText(ReviewState.PLAYED)">Played</MudMenuItem>
                    <MudMenuItem OnClick="() => SetButtonText(ReviewState.PLAYING)">Playing</MudMenuItem>
                    <MudMenuItem OnClick="() => SetButtonText(ReviewState.WISHLIST)">Wishlist</MudMenuItem>
                </MudMenu>
            </MudButtonGroup>   
        </MudStack>-->

        @if(reviewState != ReviewState.PLAYING && reviewState != ReviewState.WISHLIST){
            <MudDateRangePicker @ref="_picker"
                Label="Start & end date"
                @bind-DateRange="_dateRange" 
                AutoClose="true" 
                PickerVariant="PickerVariant.Inline">
                <PickerActions>
                    <MudButton OnClick="@(() => { _picker?.ClearAsync(); _dateRange = new(null, null); })">Clear</MudButton>
                    <MudButton OnClick="@(() => _picker?.CloseAsync(false)!)">Cancel</MudButton>
                </PickerActions>
            </MudDateRangePicker>
        }
        else if(reviewState == ReviewState.PLAYING){
            <MudDatePicker Clearable="true" Label="Start date" @bind-Date="_dateRange.Start"/>
        }

        <MudTextField @bind-Value="reviewText" 
                        Label="Comment" 
                        Variant="Variant.Outlined" 
                        Lines="5" 
                        Placeholder="Write your review here..." />

        <MudStack Row="true">
            <MudSpacer/>
            <MudStack AlignItems="AlignItems.Center" Spacing="0">
                <MudText Typo="Typo.body1"><strong>Rating</strong></MudText>
                <MudRating @bind-SelectedValue="currentRating" MaxValue="5" ReadOnly="false" />
            </MudStack>
        </MudStack>
        <MudSpacer/>
    </MudStack>
</CustomDialog>

@code {
    [Parameter] public DetailReviewDto? UserReview { get; set; }
    [Parameter] public EventCallback<CreateReviewRequest> OnReviewSubmit { get; set; }
    
    [Parameter] public int GameId { get; set; }
    private int currentRating = 0;
    private MudDateRangePicker? _picker;

    private DateRange _dateRange = new DateRange(null, null);
    private string reviewText = "";
    private ReviewState reviewState = ReviewState.NONE;
    //private string _buttonText = "Select Action";
    private CustomDialog? popupReview;

    protected override void OnParametersSet()
    {
        // Sincronizar con UserReview cuando cambie
        currentRating = UserReview?.Rating ?? 0;
        reviewText = UserReview?.ReviewText ?? "";
        reviewState = UserReview?.StateEnum ?? ReviewState.NONE;
        //_buttonText = reviewState == ReviewState.NONE ? "Select Action" : reviewState.ToString();
        _dateRange.Start = UserReview?.StartDate;
        _dateRange.End = UserReview?.EndDate;
    }

    private void OpenDialog()
    {
        currentRating = UserReview?.Rating ?? 0;
        reviewText = UserReview?.ReviewText ?? "";
        reviewState = UserReview?.StateEnum ?? ReviewState.NONE;
        //_buttonText = reviewState == ReviewState.NONE ? "Select Action" : reviewState.ToString();
        _dateRange.Start = UserReview?.StartDate;
        _dateRange.End = UserReview?.EndDate;
        popupReview?.Open();
    }

    private async Task PostReview()
    {
        DateTime? startDate = null; DateTime? endDate = null;
        switch (reviewState)
        {
            case ReviewState.PLAYING:
                startDate = _dateRange?.Start;
                break;
            case ReviewState.WISHLIST:
                break;
            default:
                startDate = _dateRange.Start;
                endDate = _dateRange.End;
                break;
        }
        
        var reviewData = new CreateReviewRequest(
            Rating: currentRating,
            StartDate: startDate,
            EndDate: endDate,
            ReviewText: reviewText,
            StateEnum: reviewState,
            IsFavorite: UserReview?.IsFavorite ?? false,
            IsReview: true,
            GameId: GameId
        );
        
        await OnReviewSubmit.InvokeAsync(reviewData);
    }

    /*private void ChangeReviewEnum()
    {
        _dateRange.Start = null;
        _dateRange.End = null;
        switch (reviewState)
        {
            case ReviewState.NONE:
                reviewState = ReviewState.NONE;
                _buttonText = "None";
                break;
            case ReviewState.PLAYED:
                reviewState = ReviewState.PLAYED;
                _buttonText = "Played";
                break;
            case ReviewState.PLAYING:
                reviewState = ReviewState.PLAYING;
                _buttonText = "Playing";
                break;
            case ReviewState.WISHLIST:
                reviewState = ReviewState.WISHLIST;
                _buttonText = "Wishlist";
                break;
            default:
                _buttonText = "Select Action";
                break;
        }
    }*/
}